body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(120deg, #66b8b7, #fe5900e4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: #2d3436;
    margin-bottom: 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  input, select {
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
  
  }
  #search {
    width: 380px;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
  }
  
  .product-card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;   
    background: #f2f2f2;     
    border-radius: 10px;
    padding: 5px; 
  }          
  
  
  .product-card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  
  .product-card p {
    color: #434242;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .product-card em {
    font-style: normal;
    color: #454343;
    font-size: 13px;
  }
  
  
  
  
  